* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    height: 100%;
    background-color: hsl(0, 0%, 10%);
}

header {
    padding: 0px;
    width: 100%;
    text-align: center;
    color: antiquewhite;
    font-family: sans-serif;
}
h1 {
    margin: 1px;
    font-size: 23px;
}

canvas {
    margin: 5px;
    background-color: hsl(120, 100%, 50%);
}
@media screen and (min-width: 769px) {
    canvas {
        margin: 5px calc(50% - 379px);
    }
}
